*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  background-color: #112233;
  font-family: Roboto, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 400;
}

.ContentProps{
  max-width: 45rem;
  margin: 0 auto;
  padding: 1.5rem;
}

main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}

main .content-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

main .content-wrapper .header-section {
  padding-bottom: 5rem;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

@media (max-width: 768px) {
  main .content-wrapper .header-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.avatar-container {
  position: relative;
  width: 11rem;  
  height: 11rem; 
  min-width: 11rem;
  min-height: 11rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-background {
  position: absolute;
  inset: 0;
  padding: 0.25rem; 
  border-radius: 50%;
  background: linear-gradient(to right, 
      orange, red, purple);
}

.avatar-wrapper {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 50%;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

main .content-wrapper .header-section .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

main .content-wrapper .header-section .text-container h1 {
  color: lightgray; 
  font-weight: bold; 
  font-size: 1.8rem;
  letter-spacing: 0.03em; /* tracking-[0.03em] */
  position: relative;
}

main .content-wrapper .header-section .text-container .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  main .content-wrapper .header-section .text-container .container {
      flex-direction: column;
      gap: 0.75rem;
  }
}

main .content-wrapper .header-section .text-container .container .location-link {
  color: lightgray;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s ease;
}

main .content-wrapper .header-section .text-container .container .location-link:hover {
  color: white;
}

main .content-wrapper .header-section .text-container .container .social-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem; 
  font-size: 1rem;
  color: lightgray;
}

@media (max-width: 768px) {
  main .content-wrapper .header-section .text-container .container .social-links {
      justify-content: center;
  }
}

main .content-wrapper .header-section .text-container .container .social-links a {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
  text-decoration: none;
  transition: color 0.3s ease;
  color: inherit;
}

main .content-wrapper .header-section .text-container .container .social-links a:hover {
  color: white;
}

main .content-wrapper .header-section .text-container .container .social-links a img {
  width: 24px;
  height: 24px;
}

main .content-wrapper .header-section .text-container .container .github-icon img {
  width: 20px;
  height: 20px;
}

.tech-stack-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem; 
  text-align: center;
}

.tech-stack-container h2 {
  font-weight: bold;
  font-size: 1.125rem; /* text-lg */
  letter-spacing: 0.1em; /* tracking-widest */
  text-transform: uppercase;
  color: white;
  margin-bottom: 2.5rem;
}

.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
}

@media (max-width: 768px) {
  .tech-stack-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .tech-stack-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

.tech-stack-button {
  border: 0px solid rgba(211, 211, 211, 0.5); 
  background-color: transparent;
  gap: 0.375rem;
  height: 6rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-in-out;
}

.tech-stack-button:hover {
  background-color: rgba(211, 211, 211, 0.1);
}

.tech-stack-icon {
  transition: transform 0.3s;
}

.tech-stack-button:hover .tech-stack-icon {
  transform: translateY(-0.25rem);
}

.projects-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
}

.projects-container h2{
  font-weight: bold;
    font-size: 1.125rem; 
    letter-spacing: 0.1em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.card{
  width: 640px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.25rem;
  gap: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(211, 211, 211, 0.5); 
}

.card .description-container h3 {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  color: white;
}

.card .description-container p {
  color: lightgray;
  margin-top: 0.75rem;
}

.card .description-container  a {
  color: white;
  text-decoration: none;
}
.card .description-container a:hover {
  text-decoration: underline;
}

.description-container .tech-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* max-width: 500px; */
  gap: 0.5rem;
  align-items: center;
  margin-top: 1.25rem;
}

.description-container .tech-grid .tech-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.375rem;
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.tech-grid .tech-item p{
  margin: 0;
  color: inherit;
}

@media (max-width: 768px) {
  .tech-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .card img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .projects-container .card{
    width: 90%;
  }
}

@media (max-width: 500px) { 
  .tech-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

.description-container .project-links-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.project-links-container a{
  width: 33.33%; 
  background-color: rgba(211, 211, 211, 0.1); 
  text-transform: uppercase;
  font-size: 0.75rem; 
  transition: all 0.3s ease;
  border-radius: 9999px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem; 
}
.project-links-container a:hover{
  background-color: rgba(211, 211, 211, 0.2);
}
.project-links-container .Primary{
  background-color: rgb(60, 120, 240);
}
@media (max-width: 768px){
  .description-container .project-links-container{
    flex-direction: column;
  }
  .project-links-container a{
    width: 100%;
  }
}