* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #112233;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 400;
}

.ContentProps {
  max-width: 45rem;
  margin: 0 auto;
  padding: 1.5rem;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 4rem 0 5rem;
}

@media (max-width: 768px) {
  .header-section {
    flex-direction: column;
    text-align: center;
  }
}

.avatar-container {
  position: relative;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
  min-width: 11rem;
  min-height: 11rem;
}

.avatar-background {
  position: absolute;
  inset: 0;
  padding: 0.25rem;
  border-radius: 50%;
  background: gray;
}

.avatar-wrapper {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 50%;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.text-container h1 {
  color: lightgray;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  position: relative;
}

.container {
  width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 0.75rem;
  }
}

.location-link {
  color: lightgray;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s ease;
}

.location-link:hover {
  color: white;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  font-size: 1rem;
  color: lightgray;
  width: 100%;
}

@media (max-width: 768px) {
  .social-links {
    justify-content: center;
  }
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: white;
}

.tech-stack-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;
  text-align: center;
}

.tech-stack-container h2,
.projects-container h2 {
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2.5rem;
}

.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
}

@media (max-width: 768px) {
  .tech-stack-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .tech-stack-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tech-stack-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6rem;
  gap: 0.375rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.1);
  color: white;
  transition: all 0.3s ease-in-out;
}

.tech-stack-button:hover {
  background-color: rgba(211, 211, 211, 0.3);
}

.tech-stack-icon {
  transition: transform 0.3s;
}

.tech-stack-button:hover .tech-stack-icon {
  transform: translateY(-0.25rem);
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
}

.card {
  width: 640px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(211, 211, 211, 0.5);
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

.card .description-container h3 {
  margin: 0.75rem 0;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  color: white;
  text-transform: uppercase;
}

.card .description-container p {
  color: lightgray;
}

.card .description-container span {
  text-transform: uppercase;
}

.card .description-container a {
  color: white;
  text-decoration: none;
}

.card .description-container a:hover {
  text-decoration: underline;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  align-items: center;
  margin-top: 1.25rem;
}

@media (max-width: 768px) {
  .tech-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tech-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.375rem;
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.tech-item p {
  margin: 0;
}

.card img {
  max-width: 100%;
  height: auto;
  max-height: 26.65rem;
  object-fit: contain;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.project-links-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .project-links-container {
    flex-direction: column;
  }

  .project-links-container a {
    width: 100%;
  }
}

.project-links-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  background-color: rgba(211, 211, 211, 0.1);
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-decoration: none;
}

.project-links-container a:hover {
  background-color: #1A1A1A;
  border: 1px solid #404040;
}

.shimmer-button {
  height: 3rem;
  animation: shimmer 2.5s infinite linear;
  border-radius: 0.375rem;
  border: 1px solid #404040;
  background: linear-gradient(
    110deg,
    #1A1A1A 0%,
    #1A1A1A 45%,
    #262626 45%,
    #262626 55%,
    #1A1A1A 55%,
    #1A1A1A 100%
  );
  background-size: 200% 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;
}

@media (min-width: 640px) {
  .project-links-container a{
    width: 100%;
  }
  .shimmer-button {
    font-size: 1rem;
  }
}

.shimmer-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #94a3b8, 0 0 0 4px #f8fafc;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

i {
  font-size: 1.25rem;
}
